Vivado/.Xil/
Vivado/*.log
Vivado/*.jou
Vivado/*.str
Vivado/*_mipi/
Vitis/*_mipi_*/
Vitis/.*/
Vitis/.*
Vitis/*.log
Vitis/*.jou
Vitis/boot/
Vitis/embeddedsw/
Vitis/RemoteSystemsTempFiles/
PetaLinux/*_mipi/
docs/build/
HLS/*/*.log
HLS/*/*/
Packages/
